/* GREDIENTS */
.primary-gredient, .left-bg-area, .sea .wave {
  background: -webkit-linear-gradient(left, #fe880a, #fe880a);
  /* Webkit browsers */
  background: -moz-linear-gradient(left, #fe880a, #fe880a);
  /* Firefox(old) */
  background: -o-linear-gradient(left, #fe880a, #fe880a);
  /* Opera(old) */
  background: -ms-linear-gradient(left, #fe880a 0%, #fe880a 100%);
  /* IE10 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, start-colorstr=#fe880a, end-colorstr=#fe880a);
  /* IE9 */
  ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, start-colorstr=#fcd702, end-colorstr=#fe880a)";
  /* IE8 */
  background: linear-gradient(left, #fe880a 0%, #fe880a 100%);
  /* W3C */ }

/* FILL */
.shape{
  fill:#fe880a!important;
  }

/* COLORS */

.primary-color, .single-feature:hover i, .single-feature:hover h3, .domain-pricing ul li a {
	color: #fe880a!important;
}

.secondary-color, a:hover, .domain-offer, .feature-list li, .v4-hero .single-h-feature:hover i, .v4-hero .single-h-feature:hover h3, .hero-right .hero-search-form ul li a:hover, .single-feature i, .single-service i, .domain-pricing ul li a:hover {
	color: #fe880a!important;
}


/* BACKGROUNDS */

.primary-bg, .loader:after, .single-pricing-offer {
	background: #fe880a!important;
}

.secondary-bg, .btn-default, .btn-default.btn-default-outline:hover, .section-title-1:before, .loader:before, .social-links a:hover, .search-form button:hover, .sea .wave:nth-of-type(3), .single-service:hover, .contact-form h3, .domina-pricing thead {
	background: #fe880a!important;
}

/* BORDERS */
.primary-border {
	border-color: #fe880a!important;
}

.secondary-border, .btn-default, .btn-default.btn-default-outline:hover, .domain-offering, .gray-bg-2 .social-links a, .single-feature .social-links a, .single-service .social-links a, #pricing-table .social-links a, .domain-pricing-v2 .social-links a {
	border-color: #fe880a!important;
}
